---
import WidgetWrapper from "./WidgetWrapper.astro";
import Headline from "@/components/ui/Headline.astro";
import type { StatsProps } from "@/types/types";
import { Icon } from "astro-icon/components";

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline,
  stats = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
  animate = true,
} = Astro.props as StatsProps;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-6xl mx-auto ${classes?.container ?? ""}`}
  bg={bg}
  animate={animate}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={classes?.headline}
  />

  <div class="flex flex-wrap justify-center -m-4 text-center">
    {
      stats &&
        stats.map(({ amount, title: statTitle, icon }) => (
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center md:border-r md:last:border-none dark:md:border-slate-700">
            {icon && (
              <div class="flex items-center justify-center mx-auto mb-4 text-primary">
                <Icon name={icon} class="w-10 h-10" />
              </div>
            )}
            {amount && (
              <div class="font-heading text-primary text-[2.6rem] font-bold lg:text-5xl xl:text-6xl">
                {amount}
              </div>
            )}
            {statTitle && (
              <div class="text-sm font-medium uppercase tracking-widest text-muted-foreground lg:text-base mt-2">
                {statTitle}
              </div>
            )}
          </div>
        ))
    }
  </div>
</WidgetWrapper>
